<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="/static/lib/font-awesome/all.css" rel="stylesheet">
    <link href="/static/css/list-article.css" rel="stylesheet">
    <script src="/static/lib/vue/vue.js"></script>
    <script src="/static/components/article-card.js"></script>
</head>
<body>
<header>
    <img alt="" src="https://area.sinaapp.com/bingImg/">
</header>
<main id="main">
    <article-card :title="'mock title'"
                  :createOn="'year month date'"
                  :keywords="[]">

    </article-card>
</main>
<script>
    const control = new Vue({
        el: "#main",
        data: {},
        methods: {}
    })
</script>
</body>
</html>