<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/static/lib/font-awesome/all.css">
    <link rel="stylesheet" href="/static/css/topic_config.css">
{#    <link rel="stylesheet" href="/static/lib/MDEditor/md-theme.v3.css">#}
    <script src="/static/lib/vue/vue.js"></script>
{#    <script src="/static/lib/MDEditor/mdeditor.v3.js"></script>#}
</head>
<body>
<main id="main">
    <aside id="config-area">
        <div>
            <button>reload</button>
            <button>save</button>
        </div>
        <textarea></textarea>
    </aside>
    <ul id="topic-list">
        <li></li>
    </ul>
    <ul id="article-list">
        <li></li>
    </ul>
    <ul id="reverse-topic-list">
        <li></li>
    </ul>
</main>
<script>
    const control = new Vue({
        el: '#main',
        data: {

        },
        methods: {

        }
    })
</script>
</body>
</html>